/* login.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fundo suave */
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Para ocupar toda a altura da tela */
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

.logo img {
    width: 100px;
    position: absolute;
    left: 20px;
    top: 15px;
}

h1 {
    margin-top: 60px; /* Ajuste para o espaço do logo */
}

main {
    margin: 50px auto;
    padding: 20px;
    max-width: 400px; /* Largura máxima */
    background-color: white;
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    flex: 1; /* Faz o main ocupar o espaço restante */
}

form {
    display: flex;
    flex-direction: column; /* Alinhamento vertical */
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px; /* Bordas arredondadas */
    width: 100%; /* Preenche a largura do formulário */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s; /* Transição suave */
    width: 100%; /* Para ocupar toda a largura do formulário */
}

button:hover {
    background-color: gray; /* Cor ao passar o mouse */
}

/* Estilo específico para o botão de voltar */
button[type="button"] {
    background-color: darkgray; /* Cor diferente para o botão de voltar */
}

button[type="button"]:hover {
    background-color: lightgray; /* Cor ao passar o mouse */
}

.registrar {
    margin-top: 20px;
}

.registrar a {
    color: black;
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
