/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

button {
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: gray;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
